@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Yantramanav Medium";
  src: url("../fonts/Yantramanav-Medium.ttf");
}

@font-face {
  font-family: "Russo One Regular";
  src: url("../fonts/RussoOne-Regular.ttf");
}

$background_gray: #04060c;
$title_red: #fc141c;
$filter_pink: #fc0404;
$white: white;

$padding_body_x: 70px;
$padding_body_y: 30px;

$separator_height: 5px;
$separator_width: 150px;

$title_font: "Russo One Regular";

body {
  min-height: 100vh;
  margin: 0px;
  padding: $padding_body_y $padding_body_x;
  background-color: $background_gray;
}

nav {
  margin: 0px !important;
  padding: 0px $padding_body_y;
}

.stick {
  margin: 0px;
  padding: 0px;
}

.stick_bottom {
  margin: 2em 0px 0px 0px;
  padding: 0px;
}
#separator {
  height: $separator_height;
  width: $separator_width;
  background-color: $title_red;
}
.external:hover {
  text-decoration: none;
}

// search
.fa-search {
  background-image: url("../images/search.svg");
  height: 20px;
  width: 20px;
}
//font
.title_font {
  font-family: $title_font;
}
// color
.red {
  color: $title_red;
}
.white {
  color: $white;
}
.red-bg {
  background-color: $filter_pink;
}

.btn_input {
  border: none !important;
  border: 0px !important;
}

// nav search
#user_search {
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid $white;
  padding-left: 5px;
}

// game cards
.game_card {
  background-color: transparent !important;
  padding: 0.8em;
}

.card-img-top {
  height: 200px;
  object-position: top;
  object-fit: cover;
}

.card-body {
  margin: 0px;
  padding: 0.7em 0px;
}

.game_title {
  font-family: "Russo One Regular";
}

// footer
footer {
  color: white;
}

// detail page
.game_cover_image {
  margin: 3em 0px;
  padding: 3em 0px;
  width: 100% !important;
  height: 500px !important;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#game_site_btn {
  margin: 0 3em 3em 0;
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-end;
  border: none;
  font-size: 1.3em;
}

#game_site_btn:hover {
  text-decoration: none;
}

#game_trailer {
  min-height: 200px;
  width: 50%;
  object-fit: fill;
}

iframe {
  object-fit: scale-down;
  border: none;
}

.screenshots {
  width: 100%;
  margin: 0px 0px 1em 0px;
  object-position: top;
  object-fit: scale-down;
}

// searching
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
